# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for data science
- List commonly used libraries by data scientists
- Examples of evaluating arithmetic expressions
- Example to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. TensorFlow

|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|Scikit-learn|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Isra